@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

body,
html {
  margin: 20px 0 20px 0;
}

.my-custom-view-wrapper {
  display: flex;
  flex-direction: column;
}

.my-custom-view-wrapper div:last-child {
  /* Here we are styling the button container. */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mpCard {
  border: 2px solid grey;
  margin: 15px;
  padding: 15px;
  background-color: lightgrey;
}
