$primary: #ed4b1a;
$secondary: #4eb9be;

//#DA6846
//#DB6947
//#D86746
//#C15D3F
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
body {
  // width: 100%;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("./assets/Background Small.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100vh;
  background-position: center top;
}

.main {
  padding-bottom: 40px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
}

.footer {
  background-color: #313147;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: white;
  h3 {
    margin-bottom: 20px;
    color: white;
    @media only screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
    font-size: 2rem;
  }
  @media only screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  a {
    color: white;
    text-decoration: none;
    display: block;
    &:hover {
      text-decoration: none;
      color: #e6e6e6;
    }
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  color: $primary;
}
h1,
h2,
h3,
p {
  text-align: center;
}
.error {
  color: red;
}
div {
  font-family: "Poppins", sans-serif;
}
p,
label {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 0;
}
h1.title {
  margin-top: 40px;
  margin-bottom: 20px;
  @media only screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 5rem;
    line-height: 8rem;
  }
  font-size: 4rem;
  line-height: 6.5rem;
}

h2.secondary-header {
  font-size: 3rem;
  line-height: 6rem;
}

.main-h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

.intro-para {
  font-size: 2.1rem;
  line-height: 3rem;
  @media only screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.call-to-action {
  margin-bottom: 40px;
  margin-top: 40px;
  button {
    margin-bottom: 20px;
    font-size: 28px;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.main-cta {
  white-space: break-spaces;
}

.typeform-widget {
  margin-bottom: 40px;
  margin-top: 40px;
  overflow-x: hidden !important;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    height: 120vh;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &.closed {
    height: 0vh;
    margin: 0;
    transition: all 2s;
  }
}

.typeform-widget::after {
  background-color: #4eb9be;
  content: "";
  top: 80px;
  right: 15px;
  bottom: 40px;
  left: 15px;
  @media only screen and (min-width: 768px) {
    top: 300px;
    bottom: 60px;
  }
  opacity: 0.4;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
}

#ccc,
.ccc {
  position: relative !important;
}

#ccc-icon,
.ccc-icon {
  position: absolute !important;
}

.a2a_kit {
  display: flex;
  justify-content: space-evenly;
  a {
    height: 150px;
  }
}

p.explanation {
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 40px;
  display: block;
}
.surveyQuestions {
  label {
    margin: 20px 0;
  }
}
.mpCard {
  border: 2px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  margin-top: 20px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.copy-button-container {
  widows: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}
.send-button {
  margin-top: 40px;
  margin-bottom: 60px;
}
.copy-popup {
  cursor: pointer;
  margin-bottom: 40px;
  right: 0;
}

button,
.btn {
  padding: 17px !important;
}
.btn-primary {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  color: white !important;
  font-weight: 600 !important;
  &:hover {
    background-color: #db866e !important;
  }
}
.btn-outline-primary {
  color: white !important;
  border: 1px solid white !important;
  &:hover {
    background-color: rgba(
      78,
      185,
      190,
      0.2
    ) !important; //secondary colour at 0.2 opacity
  }
}
.cta {
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: auto;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    .left-button,
    .right-button {
      width: 50%;
    }
    button {
      overflow-wrap: break-word;
      white-space: normal;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 80px;
  }
}

.get-MP-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 40px;
  align-items: center;

  @media only screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    .postcode-label {
      margin-bottom: 0;
      margin-left: 130px;
    }
  }
  label {
    margin-bottom: 5px;
  }
  .loading {
    margin-top: 5px;
    color: #2ecc71;
  }
  .bots {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  .form-messages {
    min-width: 200px;
    @media only screen and (max-width: 767px) {
      margin-top: 10px;
      text-align: center;
    }
  }
  input {
    margin: 0 15px;
    min-width: 100%;
    max-width: 250px;
    text-align: center;
    line-height: 30px;
    @media only screen and (min-width: 768px) {
      min-width: auto;
      text-align: left;
    }
  }
}
.mpEmailAddress {
  overflow-wrap: break-word;
  white-space: normal;
}

.emailBox {
  textarea,
  div[editext="view"] {
    background-color: white;
    border: 1px solid grey;
    margin: 15px 0;
    padding: 20px;
    font-size: 16px;
    white-space: pre-wrap;
  }
  button {
    margin: auto;
  }
}
//'edit your email button'
button.styles_Editext__buttons_container__1kphL,
.styles_Editext__buttons_after_aligned__1nlcG {
  font-size: 16px;
  width: 100%;
  padding: 17px !important;
  @media only screen and (min-width: 768px) {
    width: auto;
  }
}
.styles_Editext__input__1534X {
  border: 2px solid blue;
}

textarea:disabled {
  height: 100%;
  font-size: 13px;
  text-align: justify;
  resize: none;
  overflow: hidden;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.edit-email {
  p.explanation {
    margin: auto 30px;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.send-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
  .send-email-header {
    font-size: 4rem;
    margin-bottom: 15px;
  }
  .send-explanation {
    font-size: 1.9rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  .campaign-explanation {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 30px 0;
  }
}

.privacy-policy,
.about {
  width: 100%;
  background-color: #313147;
  color: white;
  padding-bottom: 40px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  h2 {
    text-align: left;
  }
  h3 {
    text-align: left;
    font-weight: 800;
    margin: 10px auto;
  }
  p {
    text-align: left;

    color: white;
    font-size: 16px;
  }
  a {
    color: #4eb9be;
  }
}

.about {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(3, 140px);
    row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 280px;
    @media only screen and (min-width: 375px) {
      column-gap: 30px;
      width: 310px;
    }
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 150px);
      grid-template-rows: repeat(2, 150px);
      width: 510px;
    }
  }
  .grid-item {
    border: thin gray solid;
    padding: 10px;
  }
  img {
    width: 100%;
  }

  figcaption {
    margin: 15px 0 0 0;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
}
