@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  scroll-behavior: smooth;
  background-color: rgb(236, 127, 114, 0.05);
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.arrow-down {
  margin-top: 20px;
  width: 30px;
  length: 30px;
}
h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #121482;
}

p {
  font-family: "Poppins", sans-serif;
  color: #484848;
}
h1.title {
  font-size: 5rem;
  line-height: 10rem;
}

h2.secondary-header {
  font-size: 3rem;
  line-height: 6rem;
}

p.intro-para,
p.explanation {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 40px;
}
.surveyQuestions {
  label {
    margin: 20px 0;
  }
}
.mpCard {
  border: 2px solid grey;
  margin: 15px;
  padding: 15px;
  // background-color: lightgrey;
}

.getMpForm {
  margin: 15px;
  padding: 15px;
}

.emailBox {
  textarea,
  div[editext="view"] {
    background-color: white;
    border: 1px solid grey;
    margin: 15px 0;
    padding: 20px;
    white-space: pre-wrap;
  }
  button {
    margin: auto;
  }
}

.typeform-widget {
  height: 100vh;
  margin-bottom: 40px;
  &.closed {
    height: 0vh;
  }
}

//for pop ups
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
